<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <br>
            <div class="product__container">
                <img class="product__container--img" src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2 class="product__container--price"><%= product.price %></h2>
            <p class="product__container--description"><%= product.description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>